websocket_client==1.5.3
wheel
yfinance
pyalgotrade @ git+https://git@github.com/NagarajuGunda/pyalgotrade@master
pyyaml
pyotp
six
fastparquet
pendulum
streamlit
pyzmq
aiohttp
plotly
py_vollib
streamlit-aggrid
streamlit_plotly_events
sqlalchemy
kiteconnect
py_vollib_vectorized
talipp
click
python-telegram-bot
streamlit-lightweight-charts
kaleido
selenium
webdriver_manager
flet
flet_core
pandas~=2.2.1
numpy~=1.26.4
python-dotenv~=1.0.1
pytz~=2024.1
requests~=2.31.0
