aiohttp
click
Cython
fastparquet
flet==0.23.2
flet-core==0.23.2
kaleido
kiteconnect
NorenRestApi @ https://raw.githubusercontent.com/Shoonya-Dev/ShoonyaApi-py/master/dist/NorenRestApi-0.0.30-py2.py3-none-any.whl
NorenRestApiAsync @ https://raw.githubusercontent.com/NagarajuGunda/ShoonyaApi-py/master/dist/NorenRestApiAsync-0.0.30-py3-none-any.whl
numpy
pandas
pendulum
plotly
py-vollib-vectorized
py_vollib
PyAlgoTrade @ git+https://git@github.com/NagarajuGunda/pyalgotrade@master
pyotp
python-dotenv
python-telegram-bot
pytz
PyYAML
pyzmq
requests
selenium
setuptools
six
SQLAlchemy
streamlit
streamlit-aggrid
streamlit-lightweight-charts
streamlit-plotly-events
talipp
webdriver-manager
websocket-client
wheel
yfinance
sentry_sdk
tabulate
quantstats
pytest
pytest-asyncio
