aiohttp==3.9.5
click==8.1.7
Cython==3.0.10
fastparquet==2024.2.0
flet==0.22.0
flet-core==0.22.0
kaleido==0.2.1
kiteconnect==5.0.1
NorenRestApi @ https://raw.githubusercontent.com/Shoonya-Dev/ShoonyaApi-py/master/dist/NorenRestApi-0.0.28-py2.py3-none-any.whl
pandas==2.0.3
pendulum==3.0.0
plotly==5.21.0
py-vollib-vectorized==0.1.1
py_vollib==1.0.1
PyAlgoTrade @ git+https://git@github.com/NagarajuGunda/pyalgotrade@master
pyotp==2.9.0
python-dotenv==1.0.1
python-telegram-bot==21.1.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.2
requests==2.31.0
selenium==4.19.0
setuptools==69.5.1
six==1.16.0
SQLAlchemy==2.0.29
streamlit==1.33.0
streamlit-aggrid==1.0.3.post2
streamlit-lightweight-charts==0.7.20
streamlit-plotly-events==0.0.6
talipp==2.2.1
webdriver-manager==4.0.1
websocket-client==1.7.0
wheel==0.43.0
yfinance==0.2.38
