Broker: Finvasia
Underlyings:
  - NSE|NIFTY BANK
  - NSE|NIFTY INDEX
  - NSE|FINNIFTY
  - NSE|MIDCPNIFTY
  - BSE|SENSEX
  - BSE|BANKEX

Strategies:
  920Straddle:
    Class: NineTwentyStraddle
    Path: pyalgomate/strategies/920Straddle.py
    Mode: paper
    Args:
      - underlying: NSE|NIFTY BANK