[Unit]
Description=PyAlgoMate Flet Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/PyAlgoMate
Environment="TZ=Asia/Kolkata"
Environment="PYTHONPATH=/home/ubuntu/PyAlgoMate"
Environment="FLET_PATH="
Environment="FLET_PORT=8502"
Environment="FLET_VIEW=None"
ExecStart=/home/ubuntu/PyAlgoMate/.venv/bin/python /home/ubuntu/PyAlgoMate/flet/PyAlgoMate.py
Restart=no

[Install]
WantedBy=multi-user.target
